.conteudo_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.body_cadastro {
    background: linear-gradient(90deg, #00867C 0%, #000A22 24%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.image_cadastro {
    width: 100%;
    height: 70%;

    
}