@charset "UTF-8";

#fechar-modal {
    padding: 0.6rem 1.2rem;
    background: var(--color-principal);
    color: var(--color-escuro);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 1;
    font-size: 1rem;
    transition: all 1s ease;
}

#fade,
#modal-iframe {
    transition: all 0.5s ease;
    opacity: 1;
    pointer-events: all;
}

#fade {
    /* ficar acima de tudo */
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

#modal-iframe {
    /* Ficar acima do #fade */
    z-index: 2001;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-background);
    border-radius: 0.3rem;
    padding: 1.2rem;
    height: 550px;
    width: 365px;
}

.modal-cabecalho {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.0625rem solid var(--color-principal);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

}

#fade.hide,
#modal-iframe.hide {
    /* Foi usado opacidade em vez do display para implementar animações */
    opacity: 0;
    pointer-events: none;
}

#modal-iframe.hide {
    top: 0;
}


/* ===================================IFRAME=================================== */


.modal-corpo {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
}

.modal-corpo iframe {
    margin: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:730px) {

    #modal-iframe {
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
    }
}